.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.rowDiv {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.colDiv {
  flex-basis: 20%;
}

.srcDiv {
  height: 300px;
}
